.header__lang-link-activ {
  max-width: 30px;
  min-height: 28px;
  text-decoration-color: #FFFFFF;
  margin: 18px 18px 6px 0;
  color: #FFFFFF;
}

.header__lang-link-activ:hover {
  opacity: 0.8;
}
   
@media screen and (max-width: 320px) {
  .header__lang-link-activ {
    font-size: 18px;
    line-height: 20px;
  }
}