.intro {
  max-width: 690px;
  min-height: 429px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  margin: 92px auto 0 148px;
  color: #FFFFFF;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  } 
}

@media screen and (max-width: 768pxx) {
  .intro {
    max-width: 720px;
    margin-left: 24px;
  }
}