.place {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(460px) minmax(288px, 1fr);
  grid-template-rows:  repeat(2, min-content);
  gap: 48px 40px;
  padding-bottom: 80px;
  color: #FFFFFF;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: fit-content(440px) minmax(288px, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 870px) {
  .place {
    grid-template-columns: fit-content(390px) minmax(288px, 1fr); 
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) minmax(288px, 1fr);
    column-gap: 28px;
    padding-bottom: 73px;
  }
} 

@media screen and (max-width: 620px) {
  .place {
    grid-template-columns: minmax(400px, 1fr);
    row-gap: 32px;
  }
}

@media screen and (max-width:450px) {
  .place {
    grid-template-columns: minmax(350px, 1fr);
  }
}

@media screen and (max-width: 401px) {
  .place {
    min-width: 320px;
    grid-template-columns: minmax(320px, 1fr);
    padding-bottom: 50px;
  }
}