.place {
  max-width: 984px;
  min-height: 585px;
  display: grid;
  grid-template-columns: 460px fit-content(484px);
  grid-template-rows: fit-content(152px) minmax(min-content, max-content);
  gap: 48px 40px;
  padding-bottom: 80px;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  border: 1px solid red;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    min-height: 564px;
    grid-template-columns: 440px 1fr;
  
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    min-height: 434px;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

