.cover {
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../images/cover-background.jpg);
  background-repeat: no-repeat;
  margin: 0 48px;
  box-sizing: border-box;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    background-image: url(../../images/cover-backgroundS.jpg);
  }
}