.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  margin: 92px  48px 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 370px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    margin: 64px 118px 24px 16px;
  }
}